<!DOCTYPE html>
<html>
<body>
<header><h1>PREDICTION OF ELECTRICAL POWER OUTPUT</h1></header>
<form action = "/login" method = "post">
<p><strong>Enter the following values:</strong></p>
<p><strong>Ambient Temperature:</strong></p>
<p><input type = "text" name = "at"/></p>
<p><strong>Exhaust Vacuum:</strong></p>
<p><input type = "text" name = "v"/></p>
<p><strong>Ambient Pressure:</strong></p>
<p><input type = "text" name = "ap"/></p>
<p><strong>Relative Humidity:</strong></p>
<p><input type = "text" name = "rh"/></p>
<p> <input type = "submit" value = "Submit"/></p>
<b>{{label}}</b>
</form>
</body>
</html>
